body{
    background-color: bisque; 
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    width: 5%;
    border-width: 5px;
}

h1{
    color: rgb(238, 102, 17);
}
h2{
    color: rgb(255, 99, 1);
}
h3{
    color: rgb(255, 98, 0);
}